<html>
  <head>
    <title>Recurser Social Directory | Add an Account</title>
    <link rel="stylesheet" href="/css/tachyons.min.css">

  </head>
  <body>
    <h1>Add an Account</h1>

    <form method="post" action="/add">
      <input name="service" type="text"></input>
      <input name="uri" type="text"></input>
      <button type="submit" />
    </form>
  </body>
</html>
