<h3>Add an Account</h1>

<form method="post" action="/add">
  <div>
    <input class="pas mam w-100" placeholder="Service Name" name="service" type="text"></input>
  </div>
  <div>
    <input class="pas mam w-100" placeholder="Link to your account" name="uri" type="text"></input>
  </div>
  <div>
    <button type="submit" class="mam pas ttu btn btn--blue">Add!</button>
  </div>
</form>
