<h3>Add a service (facebook, twitter, etc)</h3>

<form method="post" action="/add/service">
  <div>
    <input class="pas mam w-100" placeholder="Service Name" name="name" type="text" />
  </div>
  <div>
    <input class="pas mam w-100" placeholder="Service URI" name="url" type="text" />
  </div>
  <%
  	# TODO:
  	# add checkbox for whether this service has a mobile app
  	# we can use the value of this to show the mobile specific link input box on
  	# add account page
  %>
  <div>
    <button type="submit" class="mam pas ttu btn btn--blue">Add!</button>
  </div>
</form>
