<h3>Add an Account</h3>

<form method="post" action="/add/account">
  <div>
    <select class="pas mam w-100" name="service">
      <% Service.find_each do |service| %>
        <option value="<%= @service.id %>"><%= @service.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <input class="pas mam w-100" placeholder="Web link to your account" name="uri" type="text"></input>
  </div>
  <div>
    <input class="pas mam w-100" placeholder="Mobile specific link e.g., rdio://people/username" name="mobile_uri" type="text" value=""/>
  </div>
  <div>
    <button type="submit" class="mam pas ttu btn btn--blue">Add!</button>
  </div>
</form>
