<html>
  <head>
    <title>Recurser Social Directory</title>
    <link rel="stylesheet" href="/css/tachyons.min.css">
  </head>
  <body>
    <h1>Meet a Recurser!</h1>

    <p>
    Welcome <%= @user.name %>!
    </p>

    <img src="<%= @user.image %>">

    <p>Your ID is <%= @user.id %>. Your email is <%= @user.email %>.</p>
  </body>
</html>
