<html>
  <head>
    <title>Recurser Social Directory</title>
    <link rel="stylesheet" href="/css/tachyons.min.css">
  </head>
  <body>
    <h1>Meet a Recurser!</h1>

    <p>
    Welcome <%= @current_user.name %>!
    </p>

    <img src="<%= @current_user.image %>">

    <p>Your ID is <a href="/user/<%= @current_user.id %>"><%= @current_user.id %></a>.</p>
  </body>
</html>
