<html>
  <head>
    <title>Recurser Social Directory</title>

    <link rel="stylesheet" href="/css/tachyons-3.0.0.min.css">

    <!-- Until we add an asset pipeline, just update this date to expire the css cache. -->
    <link rel="stylesheet" href="/css/style.css?v=20150717">
    <link rel="stylesheet" href="/css/btns.css?v=20150717">
  </head>
  <body class="sans-serif">
    <div class="mw7 center pam lh-copy">
      <header class="man">
      <h1 class="f2 lh-title ttu mtl mbn">Recurser Social Directory</h2>
      <h2 class="f4 lh-title book ">Meet a Recurser!</h2>
      <h2 class="f4 lh-title book ">Navigate: <a href="/">Home</a>, <a href="/add/account">Add an account</a>, <a href="/add/service">Add a service</a>, <a href="/user/<%= @current_user.id %>">Your profile</a>.</h2>
      </header>

      <%= yield %>

      <footer class="dark-orange">
      <small>Built with Mob Programming at <a href="https://www.recurse.com/">RC</a> in July, 2015. <a href="https://github.com/icco/rsd">Pull requests accepted</a>.</small>
      </footer>
    </div>
  </body>
</html>
