<h3><img class="w3 v-mid" src="<%= @user.image %>"> <%= @user.name %></h3>

<% if @user.accounts.count == 0 %>
  <p>This user has no accounts. Which is very sad.</p>
<% else %>
  <ul>
    <% @user.accounts.sort {|a,b| a.service.name <=> b.service.name }.each do |a| %>
      <li><a href="<%= a.uri %>"><%= a.service.name %></a></li>
    <% end %>
  </ul>
<% end %>
